*.pyc
*.DS_Store
/examples/WH2009/models/
/examples/RLC/models/
/examples/RLC_SS_NL/models/
/examples/RLC_SS_NL/fig/
/examples/CSRT_LSTM/data/
.idea/

__pycache__
*.npy
.vscode

/fig
/runs
# !/runs/jfr_ multitask_220228_170251